{% extends 'layout.html' %}
{% load static %}

{% block body %}

<div class="col-sm-9">
    <div class="main-title">
        <h2>Hi, I'm Ogungbemi Christopher Akinola!</h2>
        <p>Scroll down to see my work</p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="./ghost.html" class="hover-image">
                <img src="./img/Screenshot2.jpg" alt="Image 1" class="img-responsive" style="width:100%">
            </a>
        </div>
        <div class="col-sm-6">
            <a href="./sovenga.html" class="hover-image">
                <img src="./img/Screenshot3.jpg" alt="Image 1" class="img-responsive" style="width:100%">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="./tsietsi.html" class="hover-image">
                <img src="./img/Screenshot1.jpg" alt="Image 1" class="img-responsive" style="width:100%">
            </a>    
        </div>
        <div class="col-sm-6">
            <a href="./impossible.html" class="hover-image">
                <img src="./img/Screenshot3.jpg" alt="Image 1" class="img-responsive" style="width:100%">
            </a>
        </div>
    </div>
</div>

{% endblock %}